.bloco-projetos{
    grid-column: 2/5;
    display:none;
    height:70vh;
}

.projetos{
    width:100%;
    
}

.projetos h1{
    font-size: 6rem;
    line-height:1;
    font-weight:400;
    padding-left:2.5rem;
    color:var(--text-color); 
}

.grid-conteudo-projetos{
    display:none;
    grid-template-columns: 1fr 2fr;
}


.img-projeto{
    grid-column: 1/2;
    padding:0 1rem;
    display:flex;
    justify-content:center;
}

.conteudo-projeto{
    padding:0 1rem;
}

.titulo{
    font-size:3rem;
}

.tecnologia{
    margin-top:0.5rem;
    font-size:2rem;
}

.descricao{
    font-size:1.2rem;
    grid-column: 2/3;
    position:relative;
    margin-top:2rem;
    height:12rem;
}

.prox-projeto{
    cursor:pointer;
    display:flex;
    width:12rem;
    height:4rem;
    background:var(--background-btn);
    border-radius:10%;
    transition: 0.3s;
    margin-top:2rem;
}

.prox-projeto:hover{
    background:var(--hover-btn);
}

.prox-projeto p{
    font-weight:bold;
    color:var(--text-color);
    display:flex;
    margin:0 auto;
    align-items:center;
}

.ativo-grid{
    display:grid;
}

.link-text{
    text-decoration:none;
    color: white;
    cursor:pointer;
}

.link-text::hover{
    transform:translateY(-20px);
    box-shadow:4px 30px 16px 0px black;
}

@media (max-width:1240px){
    .titulo{
        font-size:1.9rem;
    }
    .tecnologia{
        font-size:1.3rem;
    }
    .descricao{
        font-size:1rem;
    }
    .titulo-sobre{
        font-size:1.5rem;
    }
    .conteudo-projeto{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .prox-projeto{
        margin-top:4rem;   
    }

}

@media (max-width:764px){
    .titulo{
        font-size:2rem;
    }
    .tecnologia{
        font-size:1.5rem;
    }
    .descricao{
        font-size:1rem;
        text-align: center;
    }
    .img-projeto{
        grid-column: 1/3;
    }
    .conteudo-projeto{
        margin-top:5rem;
        grid-column: 1/3;
        display:flex;
        justify-content:center;
        flex-direction: column;
    }
    .prox-projeto{
        margin-top:2rem;   
    }
    .projetos h1{
        text-align:center;
    }
}